<html>
   <head>
   		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<%= stylesheet_link_tag 'index.css' %>
   </head>
   <body>
   <h1>Online Calculator</h1>
   <div id = "main">
		<div class = "container">
			<div id="main-row" class="row justify-content-center align-items-center">
				<div id="main-column" class="col-md-6">
					<div id="main-box" class="col-md-12 rounded">
				   		<form id = "calculator" name="calculator">
				   			<div class="form-group text-center">
					              <input type="text" name="display" id="display" disabled>
					        </div>
					        <pre id = "eq"><font class="form-group text-center" id = "equation">      </font></pre>
					        <div class="form-group text-center" id = "buttons">
					        <div class="form-group text-center">
				            	<input type= "button" class="btn" id= "1" value="1" onclick = "calculator.display.value += '1'; displayCheck(this.id)" style = "background-color: #FFFF33">
				              	<input type= "button" class="btn" id= "2" value="2" onclick = "calculator.display.value += '2' ; displayCheck(this.id)" style = "background-color: #FFFF33">
				              	<input type= "button" class="btn" id= "3" value="3" onclick = "calculator.display.value += '3' ; displayCheck(this.id)" style = "background-color: #FFFF33">
				              	<input type= "button" class="btn" id = "plus" value= "+" onclick = "adding()" style = "background-color: lightblue"></td>
					        </div>
					        <div class="form-group text-center">
				              	<input type= "button" class="btn" id ="4" value= "4" onclick = "calculator.display.value += '4'; displayCheck(this.id)" style = "background-color: #FFFF33">
				              	<input type= "button" class="btn" id = "5" value="5" onclick = "calculator.display.value += '5'; displayCheck(this.id)" style = "background-color: #FFFF33">
				              	<input type= "button" class="btn" id ="6" value= "6" onclick = "calculator.display.value += '6'; displayCheck(this.id)" style = "background-color: #FFFF33">
				              	<input type= "button" class="btn" id = "minus" value= "-" onclick = "subtracting()" style = "background-color: lightblue">
					        </div>
					        <div class="form-group text-center">
					            <input type= "button" class="btn" id = "7" value= "7" onclick = "calculator.display.value += '7'; displayCheck(this.id)" style = "background-color: #FFFF33">
					            <input type= "button" class="btn" id = "8" value="8" onclick = "calculator.display.value += '8'; displayCheck(this.id)" style = "background-color: #FFFF33">
					            <input type= "button" class="btn" id = "9" value= "9" onclick = "calculator.display.value += '9'; displayCheck(this.id)" style = "background-color: #FFFF33">
					            <input type= "button" class="btn" id = "times" value= "*" onclick = "multiplying()" style = "background-color: lightblue">
					        </div>
					        <div class="form-group text-center">
					            <input type= "button" class="btn" value= "C" onclick = "clearing()" style = "background-color: lightblue">
					            <input type= "button" class="btn" id = "0" value="0" onclick = "calculator.display.value += '0'; displayCheck(this.id)" style = "background-color: #FFFF33">
					            <input type= "button" class="btn" value= "=" onclick = "equaling()" style = "background-color: #90EE90">
					            <input type= "button" class="btn" id = "divide" value= "/" onclick = "dividing()" style = "background-color: lightblue">
					        </div>
					        </div>
				   		</form>
				   	</div>
				</div>
			</div>
		</div>
	</div>
   </body>
</html>